# jupyterhub version is defined in chartpress.yaml
jupyterhub-dummyauthenticator==0.3.1
jupyterhub-firstuseauthenticator==1.0.0
jupyterhub-tmpauthenticator==0.6
jupyterhub-ltiauthenticator==0.3
jupyterhub-ldapauthenticator==1.2.2
#jupyterhub-kubespawner==0.10.1
# install Kubespawner from Github with some included fixes
git+git://github.com/jupyterhub/kubespawner.git@8a6d66e04768565c0fc56c790a5fc42bfee634ec
kubernetes==8.0.*
nullauthenticator==1.0
oauthenticator==16.3.1
pymysql==1.1.1
psycopg2==2.7.5
pycurl==7.43.0.*
statsd==3.2.2
mwoauth==0.3.2
globus_sdk[jwt]==1.5.0
cryptography==42.0.*
jupyterhub-hmacauthenticator
# Very useful for profiling running hubs
py-spy
